body{
    margin: 0%;
   /* background-image: url("genshimGeral.webp") center center no-repeat fixed;
    background-repeat: no-repeat;
    height:2000px;
    background-attachment:fixed;*/
}
/*
#postagem {
    position:relative;
    height: 4000px;
    width:  2000px;
   background-color: red;
    background-image: url("genshimGeral.webp");
    background-repeat: no-repeat;
    background-attachment:fixed;
}*/